@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

@font-face{
    font-family: 'Blackhawk Regular';
    src: url('../assets/fonts/BLACKHAWK.otf') format("opentype");
}
body {
    font-family: 'Montserrat', sans-serif;
}




#hist_div {
    background: #F5F7FA;
}

#hist_title {
    text-align: center;
    
}
.hist_t_disain {
    color: #000;

    font-family: 'Blackhawk Regular';
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#hist_t_p {
    align-items: center;
    margin-right: auto;
    margin: auto;
    width: 80%;
    position: relative;
    top: initial;
    display: flex;
}

#hist_t {

    position: relative;
    top: initial;
    margin-left: 40px;
    color: var(--Must, #000);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 282;
    height: 127;

}
.hist_t_disain {
   
}

.read_m {
    text-align: right;   
    margin-bottom: 1%;
}

#a_color {
    color: #000;
}

#hist_p_siz {
    margin: 10%;
    position: relative;
    width: 565px;
    height: 397px;
    flex-shrink: 0; 
}



