@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

@font-face{
    font-family: 'Blackhawk Regular';
    src: url('../assets/fonts/BLACKHAWK.otf') format("opentype");
}

html{
    scroll-behavior: smooth;
}
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
/* So that the footer stays at the bottom. */
html, body{
    height: 100dvh;
}
body *{
    margin: 0px;
    padding: 0px;
}
.section::before{
    content: "";
    display: block;
    height: 100px;
    margin-top: -100px;
    visibility: hidden;
}

#agenda-switch{
    display: flex;
    flex-direction: row;
    justify-content: right;
}
.agenda-switch-days{
    display: flex;
    flex-direction: column;
    justify-content: right;
    gap: 5px;
    padding: 20px;
    width: 20%;
    margin-right: 10px;
}
.day-switch{
    padding: 10px;
    background-color: white;
    color: #00B89D;
    border: 1px solid black;
    margin-bottom: 5px;
    transition: 0.1s;
}
.day-switch:hover{
    cursor: pointer;
    transform: translate(-2px, -2px);
    box-shadow: 2px 2px black;
}
.day-switch h6{
    font-size: 18px;
}
.agenda{
    width: 80%;
    box-shadow: 0px 5px 5px #F5F7FA;
    margin: auto;
    padding-bottom: 20px;
}
.agenda-list{
    width: 80%;
    min-width: 80%;
    display:none;
}
.agenda-list[day="1"]{
    display: block;
}
.agenda-item-container:nth-child(odd){
    background-color: #F5F7FA;
}
.agenda-header{
    font-family: 'Blackhawk Regular';
    font-size: 96px;
    text-align: center;
    padding: 20px;
}
.agenda-item{
    display: flex;
    flex-direction: row;
    padding: 0px 40px 0px 40px;
    justify-content: space-between;
}
.agenda-item-header{
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.agenda-item-header h1{
    font-family: 'Blackhawk Regular';
    font-size: 3rem;
}
.agenda-item-header img{
    width: 80%;
    margin: 0px 10px 0px 10px;
}

.agenda-item a{
    text-decoration: underline;
    color: #000000;
}
.agenda-item-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
}
.agenda-item-info *{
    margin: 0px;
    padding: 5px;
}
.agenda-game-title{
    font-size: 20px;
}

.country-flag{
    display: flex;
    align-items: center;
    margin: 0px 15px 0px 5px;
}
.country-flag p{
    font-size: 20px;
    font-weight: 500;
}

.active {
    background-color: #00B89D;
    color: white;
    border: 1px solid #00B89D;
}

/*Navigation bar which also acts as our header. */
#navbar{
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0.5em;
}
/* Applies a fix size for header logo. */
#navbar img{
    width: 145px;
    height: 100px;
}
/* Displays each Navigation element on it's own line on the Desktop version. */
.navbar-buttons li{
    display: inline-block;
}
/* Turns the Navigation elements text color white and removes the underlining when not hovering. */
.navbar-buttons li a{
    color: white;
    text-decoration: none;
    padding: 4em;
}
.navbar-buttons li a:hover{
    text-decoration: underline;
}
.agenda-footer{
    width: 80%;
    margin: auto;
    padding: 20px;
    text-align: center;
}

/* Sticky footer that always stays at the very bottom. */
#footerSection{
    display: flex;
    position: sticky;
    top: 100vh;
    background-color: black;
    justify-content: space-evenly;
}
/* Contact and Organizers title's. */
#footerSection div{
    display: inline-block;
    color: white;
    padding: 1em;
    font-family: 'Blackhawk Regular';
    font-size: clamp(2rem, 2.5vw, 2.5rem);
}

/* Removes padding and margin around the contact list. */
.Contact-info{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/* Contact list text properties. */
.Contact-info li{
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
/* Because images and text in a list item(li) don't align properly, we use flexbox to align them properly. */
.Contact-info li{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0.25em;
}

/* Seperates the Icons next to the contact information. */
.Contact-info img{
    margin-right: 0.25em;
}

/* Makes sure the Contact text stays white and not in a blueish link color. */
.Contact-info a{
    color: white;
}
/* Alligns the text Organizers on the right side of the footer. */
.Organizers-info p{
    display: flex;
    justify-content: right;
}
/* Organizers img is moved more on the same level as Contact list items. */
.Organizers-info img{
    margin-top: 0.5em;
}

#triangle-right {
    width: 0;
    height: 0;
    border-top: 50px solid transparent;
    border-left: 100px solid #00B89D;
    border-bottom: 50px solid transparent;
}

#sektsioon {
    position: center;
    align-items: center;
    display: flow-root;
    margin: auto;
}
/*Parent*/
#kastid {
    display:block;
    align-items:center;
    justify-content:center;
    gap:30px;       
    position: relative;
    /* min-height:385px; */
    margin: 40px;
    padding: 30px;
    overflow-x: scroll;
    white-space: nowrap;
    color: white;
    padding-bottom: 1em;
}
.scroll_par {
    display: flex;
    justify-content: center;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
}
/*child*/
#kasti_valiskulg1 {
    
    display: inline-block;
    padding: 20px;
    margin-bottom: 15px;
    color: #fff;
    height: 208px;
    width: 296px;
    position: relative;
    top: initial;
    background: url(../assets/images/basket.png) no-repeat;
    /* background-color: rgb(0, 0, 0); */
    background-blend-mode: multiply;
}

#kasti_valiskulg1:hover {
    background: url(../assets/images/kollane.png) no-repeat;
}


#kasti_valiskulg2 {
    display: inline-block;
    padding: 20px;
    margin-bottom: 15px;
    color: #fff;
    height: 208px;
    width: 296px;
    position: relative;
    top: initial;
    background: url(../assets/images/volley.png) no-repeat;
    background-blend-mode: multiply;

}
#kasti_valiskulg2:hover {
    background: url(../assets/images/roheline.png) no-repeat;
}

#kasti_valiskulg3 {
    display: inline-block;
    padding: 20px;
    margin-bottom: 15px;
    color: #fff;
    height: 208px;
    width: 296px;
    position: relative;
    top: initial;
    background: url(../assets/images/table_tennis.png) no-repeat;
    background-blend-mode: multiply;
}

#kasti_valiskulg3:hover {
    background: url(../assets/images/sinine.png) no-repeat;
}


#kasti_valiskulg4 {
    display: inline-block;
    padding: 20px;
    margin-bottom: 15px;
    color: #fff;
    height: 208px;
    width: 296px;
    position: relative;
    top: initial;
    background: url(../assets/images/leaders.png) no-repeat;
    background-blend-mode: multiply;
}

#kasti_valiskulg4:hover {
    background: url(../assets/images/roosa.png) no-repeat;
}

/*
.cls3 {
    justify-content: center;
    width: flex;
    display:flex;
    padding: 30px;
    margin-bottom:15px;
    position: relative;
    top: initial;
    text-align: center;
    
}
*/

#hist_div {
    background: #F5F7FA;
}

#hist_title {
    text-align: center;
    padding-top: 20px;
}
.hist_t_disain {
    color: #000;

    font-family: 'Blackhawk Regular';
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

#hist_t_p {
    align-items: center;
    margin-right: auto;
    margin: auto;
    width: 80%;
    position: relative;
    top: initial;
    display: flex;
}

#hist_t {

    position: relative;
    top: initial;
    color: var(--Must, #000);
    font-family: Montserrat;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 282;
    height: 127;

}

.read_m {
    text-align: right;   
    margin-bottom: 1%;
}

#a_color {
    color: #000;
}

#hist_p_siz {
    margin: clamp(0.5rem, 1vw, 1rem);
    position: relative;
    width: 565px;
    height: 397px;
    flex-shrink: 0; 
}

.banner{
    position: relative;
    margin: auto;
}
.banners{
    display:none;
}

.banner-arrows{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.banner-arrows *{
    width: 10px;
    cursor: pointer
}

.fade {
    animation: fade 2s;
}

@keyframes fade {
    from{
        opacity: 0.8;
    }
    to{
        opacity: 1;
    }
  }

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
}

#spons_title {
    text-align: center;
    padding-top: 20px;
    margin-top: 2%; 
}


.spons_t_disain {
    color: #000;
    font-family: 'Blackhawk Regular';
    font-size: 96px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    
}

#img_div {
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    margin: auto;
    
    position: relative;
    top: initial;
    display: flex;
    margin-bottom: 5%;
    margin-top: 1%;
    padding: 12px;
    gap: 90px;

}


#fun_m {
    position: relative;
    top: initial;  
}

#un_mot {
    position: relative;
    top: initial; 
}

@media screen and (max-width: 900px) {
    html{
        overflow-x: hidden;
    }
    .agenda{
        justify-content: center;
        width: 90%;
    }
    .agenda-switch-days{
        width: 100%;
        margin:none;
        justify-content: center;
    }
    .agenda-list{
        width: 100%;
    }
    .agenda-item{
        padding: 0px 10px 0px 10px;
    }
    .game{
        flex-direction: column;
    }
    .game .agenda-item-header{
        display: none;
    }
    .agenda-item-header h2{
        font-size: 18px;
        text-align: right;
    }
    .agenda-item-info a{
        display:none
    }
    #agenda-switch{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 0px 20px 0px 20px;
    }
    .agenda-switch-days{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    #kastid{
        display: block;
    }
    #kasti-valiskulg1{
        background: url(../assets/images/fullBasketball.png) no-repeat;
    }
    #kasti_valiskulg2{
        background: url(../assets/images/fullVolleyball.png) no-repeat;
    }
    #kasti-valiskulg3{
        background: url(../assets/images/fullTableTennis.png) no-repeat;
    }
    #kasti-valiskulg4{
        background: url(../assets/images/fullSchoolLeaders.png) no-repeat;
    }
    #hist_t{
        width: 100%;
        margin-left:none;
    }
    #hist_t_p{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #hist_p_siz{
        overflow: hidden;
        width: 100%;
        height: 100%;
        margin:none;
    }
    #img_div{
        display: flex;
        flex-direction: column;
    }
    #footerSection{
        display: flex;
        flex-direction: column-reverse;
    }
    .Organizers p{
        display: flex;
        justify-content: center;
    }
    .Organizers img{
        width: 100%;
    }
    .Contact p{
        display: flex;
        justify-content: center;
    }
    .Contact ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .links li a{
        padding: 1em;
    }
    #menubar img{
        margin-right: 1.25em;
    }
}