@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

@font-face{
    font-family: 'Blackhawk Regular';
    src: url('../assets/fonts/BLACKHAWK.otf') format("opentype");
}

body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
}
body *{
    margin: 0px;
    padding: 0px;
}

/* So that the footer stays at the bottom. */
html, body{
    height: 100%;
}
#agenda-switch{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.agenda-switch-days{
    padding: 20px;
}
.agenda{
    width: 80%;
    box-shadow: 0px 5px 5px #F5F7FA;
    margin: auto;
    border: 1px solid black;
}
.agenda-list{
    width: 70%;
}
.agenda-item-container:nth-child(odd){
    background-color: #F5F7FA;
}
.agenda-header{
    font-family: 'Blackhawk Regular';
    font-size: 96px;
    text-align: center;
    padding: 20px;
}
.agenda-item{
    display: flex;
    flex-direction: row;
    padding: 0px 40px 0px 40px;
    justify-content: space-between;
}
.agenda-item h3{
    justify-content: cetn;
}
.agenda-item a{
    text-decoration: underline;
    color: #000000;
}
.agenda-item-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 500;
}
.agenda-item-info *{
    margin: 0px;
    padding: 5px;
}

/*Centers the menubar and it's properties inside it.*/
#menubar{
    display: flex;
    background-color: black;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 0.5em;
}
/*Size properties of the menubar logo*/
#menubar img{
    width: 145px;
    height: 100px;
}
/*Displays each tab in it's own line*/
.links li{
    display: inline-block;
}
/*Changes menubar tabs white and removes underlining*/
.links li a{
    color: white;
    text-decoration: none;
    padding: 4em
}
.agenda-footer{
    width: 80%;
    margin: auto;
    padding: 10px;
    text-align: center;
}

/* Sticky footer that always stays at the very bottom. */
#footer{
    display: flex;
    position: sticky;
    top: 100vh;
    background-color: black;
    justify-content: space-between;
}
/* Contact and Organizers title's. */
#footer div{
    display: inline-block;
    color: white;
    padding: 1em;
    font-family: 'Blackhawk Regular';
    font-size: xx-large;
}

/* Pushes Contact a little closer to the middle. */
.Contact{
    margin-left: 0.5em;
    list-style-type: none;
    padding: 0;
    margin: 0;
}
/* Contact list items. */
.Contact li p{
    font-size: large;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
    color: white;
}
/* Because images and tex in a list item(li) don't align properly, we use flexbox to align them properly. */
.Contact li{
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    padding: 0.25em;
}

/* Contact list item images. */
.Contact img{
    margin-right: 0.25em;
}

/* Pushes Organizer a little closer to the middle. */
.Organizers{
    margin-right: 0.5em;
}

/* Makes sure the title Organizers stays on the right. */
.Organizers p{
    display: flex;
    justify-content: right;
}

/* Organizers img is moved more on the same level as Contact list items. */
.Organizers img{
    margin-top: 0.5em;
}